
		body{
			background: #0000FF;
		}
		.clock{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			color: #000000;
			font-size: 100px;
			border: 1px solid #ccc;
			padding: 0px 5px 0px 5px;
			font-family:'Orbitron', sans-serif;
		}